<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>友链 - 修改</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="/layuimini/lib/layui-v2.5.5/css/layui.css" media="all">
		<link rel="stylesheet" href="/layuimini/css/public.css" media="all">
		<style>
			body {
            background-color: #ffffff;
        }
    </style>
	</head>
	<body>
		<div class="layui-form layuimini-form">
			<div class="layui-form-item">
				<label class="layui-form-label required">友链Id</label>
				<div class="layui-input-block">
					<input type="text" th:value="${friend.friendId}"  name="friendId" disabled class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label required">名称</label>
				<div class="layui-input-block">
					<input type="text" th:value="${friend.friendName}" name="friendName" lay-verify="required" lay-reqtext="新闻标题不能为空" placeholder="请输入新闻标题" value=""
					 class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label required">网站</label>
				<div class="layui-input-block">
					<input type="text" th:value="${friend.website}"  name="website" lay-verify="required" lay-reqtext="标签不能为空"
					 placeholder="请输入标签" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
				</div>
			</div>
		</div>
		<script src="/layuimini/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
		<script src="/layuimini/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
		<script src="/layuimini/lib/jquery-3.4.1/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script>
			layui.use(['form', 'tableSelect'], function() {
				var form = layui.form,
					layer = layui.layer,
					tableSelect = layui.tableSelect,
					$ = layui.$;

				//监听提交
				form.on('submit(saveBtn)', function(data) {
					var index = layer.confirm("确认修改", {
						title: '最终的提交信息'
					}, function() {

						$.ajax({
							url:'[[@{/friend/editFriend}]]',
							data:JSON.stringify(data.field),
							dataType:'json',
							contentType:'application/json',
							type:'post',
							success:function(flag){
								if(flag) {
									layer.msg("修改成功",{icon: 1, time:1000},function () {
										// 关闭弹出层
										layer.close(index);

										var iframeIndex = parent.layer.getFrameIndex(window.name);
										parent.layer.close(iframeIndex);
									} )
								}else {
									layer.msg("修改失败",{title: false, icon: 5, time: 2000})
								}
							}
						})


					});

					return false;
				});

			});

		</script>
	</body>
</html>
