<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>登录页</title>
		<link rel="stylesheet" href="/semantic-ui/semantic.min.css" />
		<link rel="stylesheet" href="/css/me.css">
	</head>
	<style type="text/css">
		body {
			margin: 0;
			padding: 0;
		}

		.background {
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			z-index: 0;
		}
	</style>
	<body style="background: rgb(238,174,202);
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);">

		<br>
		<br>
		<br>
		<div class="m-container-small m-padded-tb-massive" style="max-width: 30em !important;">
			<canvas class="background"></canvas>
			<div class="ur container">
				<div class="ui middle aligned center aligned grid">
					<div class="column">
						<h2 class="ui red image header">
							<div class="content">
								Fake`News
							</div>
						</h2>
						<form class="ui large form" method="post" action="#">
							<div class="ui  segment">
								<div class="field">
									<div class="ui left icon input">
										<i class="user icon"></i>
										<input type="text" name="username" placeholder="用户名">
									</div>
								</div>
								<div class="field">
									<div class="ui left icon input">
										<i class="lock icon"></i>
										<input type="password" name="password" placeholder="密码">
									</div>
								</div>
								<div class="field container">

									<div class="ui two column grid">
										<div class="ui column">
											<div class="ui left icon input">
												<i class="check icon"></i>
												<input type="text" name="checkcode" placeholder="验证码">
											</div>
										</div>
										<div class="ui column">
											<a href="javascript:void(0)" id="checkCode"><img th:src="@{/system/getVerifyCode}"
												 class="rounded checkcode tooltip" width="180px" height="40px" data-content="点击刷新验证码" ></a>
										</div>
									</div>

								</div>
								<button id="login-btn" class="ui fluid large red submit button">登 录</button>
							</div>

							<div class="ui error mini message"></div>
							<div class="ui mini negative message" th:unless="${#strings.isEmpty(message)}" th:text="${message}">用户名和密码错误</div>

						</form>
						<div class="ui message">
							<i class="icon help"></i>
							还没有账号？ <a href="#" th:href="@{/system/toRegister}">注册</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="/js/jquery-3.4.1.min.js"></script>
	<script src="/semantic-ui/semantic.min.js"></script>
	<script src="/js/particles.min.js"></script>
	<script>
		$(function() {
			
			$('.message .close')
			    .on('click', function () {
			        $(this)
			            .closest('.message')
			            .transition('fade')
			        ;
			    })
			;
			$.fn.form.settings.rules.checkCode = function () {
			    var checkcode = $('[name="checkcode"]').val();
			    var flag = false;
			    $.post({
			        url: '[[@{/system/checkCode}]]',
			        async: false,
			        data: {
			            'checkCode': checkcode
			        },
			        success: function (data) {
			            flag = data.flag;
			        }
			    })
			    return flag;
			}
			
			$('.ui.form').form({
				fields: {
					username: {
						identifier: 'username',
						rules: [{
							type: 'empty',
							prompt: '请输入用户名？'
						}]
					},
					password: {
						identifier: 'password',
						rules: [{
								type: 'empty',
								prompt: '请输入密码？'
							},
							{
								type: 'minLength[8]',
								prompt: '密码长度至少为 {ruleValue} 位'
							}
						]
					},
					checkcode:{
					    identifier: 'checkcode',
					    rules:[
					        {
					            type:'checkCode',
					            prompt:'验证码填写错误'
					        }
					    ]
					},
				}
			});
			
			$('#checkCode').click(function () {
			    // alert('hhhh')
			    var src = '[[@{/system/getVerifyCode}]]' + '?time=' + new Date().getTime();
			    $(this).children('img').attr('src', src);
			});
			
			$(document).keypress(function (e) {
			    if(e.which===13) {
			        $('#login-btn').click();
			    }
			
			});
			
			
			$('#login-btn').click(function () {
			    var flag = $('.ui.form').form('validate form');
			    console.log(flag);
			    if (flag) {
			        $.post('[[@{/system/login}]]', {
			            'username': $('[name="username"]').val(),
			            'password': $('[name="password"]').val()
			        },function (data) {
			        	if(data) {
			        		window.location.href = "[[@{/index}]]";
						}else {
			        		alert("用户名或密码错误！")
			        		//重新加载
							window.location.reload();
						}
			        })
			    }
			})
			
			// 粒子特效
			Particles.init({
				selector: '.background',
				color: '#ff007f',
				maxParticles: 130,
				connectParticles: true,
				responsive: [{
					breakpoint: 768,
					options: {
						maxParticles: 80
					}
				}, {
					breakpoint: 375,
					options: {
						maxParticles: 50
					}
				}]
			});

		});
	</script>
</html>
