<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>个人中心</title>
		<link rel="stylesheet" href="/semantic-ui/semantic.min.css" />
		<link rel="stylesheet" href="/css/me.css" />
	</head>
	<body>
		<!-- 导航 -->
		<nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
			<div class="ui container">
				<div class="ui inverted secondary stackable menu">
					<h2 class="ui red header item">Fake`News</h2>
					<a href="#" class="active item m-mobile-hide"><i class="home icon"></i>首页</a>
					<a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
					<a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>最新</a>
					<a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i>排行</a>
					<a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
					<div class="right m-item menu m-mobile-hide">
						<div class="item">
							<div class="ui icon inverted transparent input">
								<input type="text" placeholder="输入关键字..." />
								<i class="search link icon"></i>
							</div>
						</div>
						<div class="right item">
							<div class="login-register">
								<a class="ui inverted button">登录</a>
								<a class="ui inverted button">注册</a>
							</div>
						</div>
						<div class="right m-mobile-hide menu" style="display: none;">
							<div class="ui dropdown item">
								<div class="text"><img class="ui avatar image" src="https://unsplash.it/100/100/?image=1008">
									Jenny Hess
								</div>
								<i class="dropdown icon"></i>
								<div class="menu">
									<a href="#" class="item">个人信息</a>
									<a href="#" class="item">修改密码</a>
									<a href="#" class="item">注销</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<a href="#" class="ui menu toggle black button m-right-top m-mobile-show">
				<i class="sidebar icon"></i>
			</a>
		</nav>

		<!-- 中间内容 -->
		<div class="m-container-small m-padded-tb-big">
			<div class="ui container">
				<div class="ui grid">
					<div class="five wide column">
						<div class="ui segment">
							<img src="https://unsplash.it/800/600/?image=1005" alt="" class="ui rounded image">
						</div>
					</div>
					<div class="eleven wide column">
						<div class="ui tiny form">
							<div class="field">
								<label>旧密码</label>
								<input type="password" name="password" >
							</div>
							<div class="field">
								<label>新密码</label>
								<input type="password" name="newPassword">
							</div>
							<div class="field">
								<label>再次输入</label>
								<input type="password" name="repeatPassword">
							</div>
							
							<div id="btn" class="ui submit button">提交</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="/js/jquery-3.4.1.min.js"></script>
	<script src="/semantic-ui/semantic.min.js"></script>
	<script type="text/javascript">
		$('.ui.dropdown').dropdown();
		
		$("#btn").click(function() {
			$.post("[[@{/user/editPassword}]]",{
				'password':$('[name="password"]').val(),
				'newPassword':$('[name="newPassword"]').val()
			}, function(data) {
				if(data) {
					alert("修改成功");
					window.location.href = "[[@{/system/toLogin}]]";
				}else {
					alert("密码错误");
				}
			})
		})
	</script>
</html>
